body {
 background-image:  url(spac-30.jpg);
 background-size: 100%;
 margin:auto;
}

p.one {
   font-family: "Courier New", Courier, monospace;
   text-shadow: 10px 10px 11px green;
   margin: 0px;
   font-weight: bolder;
   color:lime;
   font-size: 100px;
 }

p.videos {
   font-family: "Courier New", Courier, monospace;
   text-shadow: 10px 10px 11px purple;
   margin: 0px;
   font-weight: bolder;
   color:pink;
   font-size: 70px;
}


